body {
  background-color: white;
}
div {
background-color: lightblue;
height: 50px;
}
h1 {
  color: white;
  text-align: left;
}
h2{
color: teal;



}
h3{
margin: 0;

}
nav{

  font-size : 20px;

}

ul{
color: grey;

}
p {

  font-family: verdana;
  font-size: 15px;
  color: grey;
  margin: 0;
  margin-left: 20px;
 display: table-row;  
}
table, th, td {
  border: 1px solid Lightblue;
  border-collapse: collapse;

}
th, td {
  padding: 5px;
  text-align: left;

}
.myclass {
 background-color: lightgrey;
 }
 form  { display: table;      }

 label { display: table-cell; }
 input { display: table-cell; }

header {
 height:100px;
 background-image:url("sunset.jpg");
 background-repeat:no-repeat;
 background-size:cover;
}
footer{
    display: table;
    text-align: center;
    margin-left: auto;
    margin-right: auto;
}
